<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets 
		and Filters -->
	<!-- 스프링의 환경 설정 파일 로딩. -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<!-- 스프링의 환경 설정 파일인 root-context.xml을 가장 먼저 참조. -->
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>

	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<!-- 서블릿의 환경 설정. -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<!-- 스프링에 내장된 DispatcherServlet 클래스를 디폴트 서블릿으로 설정. -->
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 모든 서블릿 요청은 DispatcherServlet에서 처리됨. -->
		<!-- DispatcherServlet : Model, View, Controller를 조합하여 브라우져로 출력하는 역할을 하는 
			클래스. -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
			<!-- servlet-context.xml 참조. -->
			<!-- servlet-context.xml 파일 안에 정의된 객체를 로딩. -->
		</init-param>
		<!-- 가장 첫번째 우선순위로 -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
		<!-- / (root) : DispatcherServlet이 모든 요청을 가로챌 수 있도록 함. -->
	</servlet-mapping>

	<!-- 한글 처리를 위한 인코딩 필터. -->
	<filter>
		<filter-name>encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 서버의 루트 주소만을 입력하여 접근했을 경우 보여줄 파일. -->
	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
    
    <!-- 세션 만료시간 설정 (6시간) -->
	<session-config>
		<session-timeout>360</session-timeout>
	</session-config>
	<!-- 세션에 대해 logger를 잡을수 있지만 귀찮으니 다음에 구현해 보도록 하자
	       참고 : http://blog.whitelife.co.kr/221
	 -->

</web-app>
